/* line 7, scss/style.scss */
ul, li {
  list-style: none; }

/* line 10, scss/style.scss */
body {
  color: #505050;
  font-family: Arial, sans-serif; }

/* line 15, scss/style.scss */
a {
  color: #505050;
  cursor: pointer; }
  /* line 18, scss/style.scss */
  a:hover, a:focus {
    text-decoration: none;
    color: #1c76c4; }

/* line 24, scss/style.scss */
ul {
  padding: 0; }

/* line 27, scss/style.scss */
.wrapper_header {
  margin-top: 15px; }
  /* line 29, scss/style.scss */
  .wrapper_header .logo {
    margin-bottom: 10px;
    display: block;
    margin-left: 72px; }

/* line 36, scss/style.scss */
.wrapper_menu_privary {
  background: #fafafa;
  border: 1px solid #ececec;
  border-left: 0;
  border-right: 0; }
  /* line 41, scss/style.scss */
  .wrapper_menu_privary ul {
    margin: 0; }
    /* line 43, scss/style.scss */
    .wrapper_menu_privary ul li {
      position: relative;
      float: left;
      padding: 0; }
      /* line 47, scss/style.scss */
      .wrapper_menu_privary ul li:hover {
        background: #fff; }
      /* line 50, scss/style.scss */
      .wrapper_menu_privary ul li a {
        padding: 15px 20px;
        border-left: 1px solid #dedede;
        display: inline-block; }

/* line 59, scss/style.scss */
.wrapper_content,
.wrapper_slider,
.wrapper_map {
  background: #ececec;
  padding: 10px 0; }

/* line 65, scss/style.scss */
.wrapper_map {
  background: #fff; }

/* line 69, scss/style.scss */
.wrapper_footer {
  background: #fafafa;
  color: black;
  /*  .stores-list {
      li {
        padding-left: 20px;
      }
    }*/ }
  /* line 73, scss/style.scss */
  .wrapper_footer .list-inline li {
    vertical-align: middle; }
  /* line 82, scss/style.scss */
  .wrapper_footer a {
    color: black; }
    /* line 84, scss/style.scss */
    .wrapper_footer a:hover {
      color: #1c76c4; }
  /* line 88, scss/style.scss */
  .wrapper_footer .h5 {
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase; }

/* line 96, scss/style.scss */
.wrapper_slider .container {
  background: #fff;
  padding: 10px;
  border-radius: 3px; }

/* line 102, scss/style.scss */
.product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: black; }

/* line 109, scss/style.scss */
.price-box {
  color: #1C76C4;
  font-size: 16px; }

/*.panel {
  border-radius: 2px;
  background: none;
  box-shadow: none;
  .panel-heading {
    border-radius: 0;
  }
}*/
/* line 123, scss/style.scss */
.em_nav li {
  position: relative; }
  /* line 125, scss/style.scss */
  .em_nav li a {
    display: block;
    padding: 7px 10px 8px; }
/* line 130, scss/style.scss */
.em_nav .menu-item-depth-0 > .menu-container {
  position: absolute;
  top: 0;
  left: -9999px;
  z-index: 9;
  width: 100%;
  padding: 13px 0;
  background: white; }
  /* line 138, scss/style.scss */
  .em_nav .menu-item-depth-0 > .menu-container li {
    padding: 5px 10px; }
/* line 142, scss/style.scss */
.em_nav .menu-item-parent:hover > .menu-container,
.em_nav .menu-item-parent:hover > .menu-container {
  left: 100%; }
/* line 146, scss/style.scss */
.em_nav .menu-item-link > ul,
.em_nav .em-catalog-navigation ul {
  padding: 13px 0;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

/* line 155, scss/style.scss */
.menu-item:hover {
  background: #fff; }

/*.sidebar {
  .panel {
    background: $gray-lighter;
  }
  .panel-body {
    padding: 0;
  }
  .panel-heading {
    background: $gray-lighter;
    color: $gray-dark;
    border-color: $gray;
  }
}*/
/* line 173, scss/style.scss */
.sidebar .panel-body {
  padding: 0; }

/* line 177, scss/style.scss */
.panel-no-border {
  border: none; }

/* line 180, scss/style.scss */
.panel-no-bg {
  background-color: transparent;
  box-shadow: none; }
  /* line 183, scss/style.scss */
  .panel-no-bg .panel-body {
    padding: 15px 0; }

/* line 188, scss/style.scss */
.box-white {
  padding: 5px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  background: #fff; }

/* line 195, scss/style.scss */
.product-name {
  line-height: 20px; }

/*
.product-detail {
  background: #fff;
  li.item {
    box-shadow: 0 1px 2px 0 $gray;
    -moz-box-shadow: 0 1px 2px 0 $gray;
    -webkit-box-shadow: 0 1px 2px 0 $gray;
  }
  .product-shop {
    padding: 5px;
  }
}*/
/* line 210, scss/style.scss */
.menu-item-parent.menu-item-depth-0 > a {
  position: relative; }
  /* line 212, scss/style.scss */
  .menu-item-parent.menu-item-depth-0 > a:before {
    content: "";
    background-image: url("img/icon-nav-blue.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 10px;
    height: 12px;
    top: 12px;
    right: 8px; }

/* line 223, scss/style.scss */
.icon {
  background-image: url("img/icons.png");
  width: 42px;
  height: 42px;
  display: block; }
  /* line 228, scss/style.scss */
  .icon.facebook {
    background-position: 0 -315px; }
  /* line 231, scss/style.scss */
  .icon.twitter {
    background-position: -50px -315px; }
  /* line 234, scss/style.scss */
  .icon.pinterest {
    background-position: -100px -315px; }

/* line 240, scss/style.scss */
.panel-primary .panel-title a:hover {
  color: #fff; }
