/* line 7, scss/style.scss */
body {
  color: #505050;
  font-family: Arial, sans-serif;
  font: normal 14px/1.35 Roboto,Arial,Helvetica,sans-serif;
  background: #ececec; }

/* line 14, scss/style.scss */
a {
  color: #505050;
  cursor: pointer; }
  /* line 17, scss/style.scss */
  a:hover, a:focus {
    text-decoration: none;
    color: #1c76c4; }

/* line 23, scss/style.scss */
ul {
  padding: 0; }

/* line 26, scss/style.scss */
.wrapper_header {
  padding-top: 15px;
  background: #fff; }
  /* line 29, scss/style.scss */
  .wrapper_header .logo {
    margin-bottom: 10px;
    display: block;
    margin-left: 72px; }

/* line 36, scss/style.scss */
.wrapper_menu_privary {
  background: #fafafa;
  border: 1px solid #ececec;
  border-left: 0;
  border-right: 0; }
  /* line 41, scss/style.scss */
  .wrapper_menu_privary ul {
    margin: 0; }
    /* line 43, scss/style.scss */
    .wrapper_menu_privary ul li {
      position: relative;
      float: left;
      padding: 0; }
      /* line 47, scss/style.scss */
      .wrapper_menu_privary ul li:hover {
        background: #fff; }
      /* line 50, scss/style.scss */
      .wrapper_menu_privary ul li a {
        padding: 15px 20px;
        border-left: 1px solid #dedede;
        display: inline-block;
        font: normal 14px/1.35 Roboto,Arial,Helvetica,sans-serif; }

/* line 60, scss/style.scss */
.wrapper_content,
.wrapper_slider,
.wrapper_map {
  background: #ececec;
  padding: 10px 0; }

/* line 66, scss/style.scss */
.wrapper_map {
  background: #fff; }

/* line 70, scss/style.scss */
.wrapper_footer {
  background: #fafafa;
  color: black;
  /*  .stores-list {
      li {
        padding-left: 20px;
      }
    }*/ }
  /* line 74, scss/style.scss */
  .wrapper_footer .list-inline li {
    vertical-align: middle; }
  /* line 83, scss/style.scss */
  .wrapper_footer a {
    color: black; }
    /* line 85, scss/style.scss */
    .wrapper_footer a:hover {
      color: #1c76c4; }
  /* line 89, scss/style.scss */
  .wrapper_footer .h5 {
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase; }

/* line 97, scss/style.scss */
.wrapper_slider .container {
  background: #fff;
  padding: 10px;
  border-radius: 3px; }

/* line 103, scss/style.scss */
.product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: black; }

/* line 110, scss/style.scss */
.price-box {
  color: #1C76C4;
  font-size: 16px; }

/*.panel {
  border-radius: 2px;
  background: none;
  box-shadow: none;
  .panel-heading {
    border-radius: 0;
  }
}*/
/* line 124, scss/style.scss */
.em_nav li {
  position: relative; }
  /* line 126, scss/style.scss */
  .em_nav li a {
    display: block;
    padding: 7px 10px 8px;
    font: normal 14px/1.35 Roboto,Arial,Helvetica,sans-serif; }
/* line 132, scss/style.scss */
.em_nav .menu-item-depth-0 > .menu-container {
  position: absolute;
  top: 0;
  left: -9999px;
  z-index: 9;
  width: 100%;
  padding: 13px 0;
  background: white; }
  /* line 140, scss/style.scss */
  .em_nav .menu-item-depth-0 > .menu-container li {
    padding: 5px 10px; }
/* line 144, scss/style.scss */
.em_nav .menu-item-parent:hover > .menu-container,
.em_nav .menu-item-parent:hover > .menu-container {
  left: 100%; }
/* line 148, scss/style.scss */
.em_nav .menu-item-link > ul,
.em_nav .em-catalog-navigation ul {
  padding: 13px 0;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

/* line 157, scss/style.scss */
.menu-item:hover {
  background: #fff; }

/*.sidebar {
  .panel {
    background: $gray-lighter;
  }
  .panel-body {
    padding: 0;
  }
  .panel-heading {
    background: $gray-lighter;
    color: $gray-dark;
    border-color: $gray;
  }
}*/
/* line 175, scss/style.scss */
.sidebar .panel-body {
  padding: 0; }

/* line 179, scss/style.scss */
.panel-no-border {
  border: none; }

/* line 182, scss/style.scss */
.panel-no-bg {
  background-color: transparent;
  box-shadow: none; }
  /* line 185, scss/style.scss */
  .panel-no-bg .panel-body {
    padding: 15px 0; }

/* line 190, scss/style.scss */
.box-white {
  padding: 5px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  background: #fff; }

/* line 197, scss/style.scss */
.product-name {
  line-height: 20px; }

/*
.product-detail {
  background: #fff;
  li.item {
    box-shadow: 0 1px 2px 0 $gray;
    -moz-box-shadow: 0 1px 2px 0 $gray;
    -webkit-box-shadow: 0 1px 2px 0 $gray;
  }
  .product-shop {
    padding: 5px;
  }
}*/
/* line 212, scss/style.scss */
.menu-item-parent.menu-item-depth-0 > a {
  position: relative; }
  /* line 214, scss/style.scss */
  .menu-item-parent.menu-item-depth-0 > a:before {
    content: "";
    background-image: url("img/icon-nav-blue.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 10px;
    height: 12px;
    top: 12px;
    right: 8px; }

/* line 225, scss/style.scss */
.icon {
  background-image: url("img/icons.png");
  width: 42px;
  height: 42px;
  display: block; }
  /* line 230, scss/style.scss */
  .icon.facebook {
    background-position: 0 -315px; }
  /* line 233, scss/style.scss */
  .icon.twitter {
    background-position: -50px -315px; }
  /* line 236, scss/style.scss */
  .icon.pinterest {
    background-position: -100px -315px; }

/* line 242, scss/style.scss */
.panel-primary .panel-title a:hover {
  color: #fff; }

/* line 247, scss/style.scss */
.widget .csslider a.next,
.widget .csslider a.prev,
.more-views a.prev,
.more-views a.next,
.product-view .product-sho.prev,
.product-view .product-shop a.next {
  position: absolute;
  width: 25px;
  height: 25px;
  text-indent: -999em;
  top: 4px;
  border: 1px solid #cecece;
  background-image: url(img/icons.png);
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease; }

/* line 265, scss/style.scss */
.product-shop a.prev {
  background-position: -645px -821px;
  right: 26px;
  left: auto; }
  /* line 269, scss/style.scss */
  .product-shop a.prev:hover {
    background-position: -645px -859px; }

/* line 273, scss/style.scss */
.product-shop a.next {
  background-position: -686px -821px;
  right: 0px; }
  /* line 276, scss/style.scss */
  .product-shop a.next:hover {
    background-position: -686px -859px; }

/* line 282, scss/style.scss */
.product-view .product-shop .product-name {
  padding-right: 45px;
  margin-bottom: 15px; }
  /* line 285, scss/style.scss */
  .product-view .product-shop .product-name h1 {
    margin: 0; }
/* line 290, scss/style.scss */
.product-view .product-shop .price-box .price {
  font: 300 30px/1.15 Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400; }
/* line 296, scss/style.scss */
.product-view .short-description {
  padding: 24px 0;
  margin: 25px 0 15px;
  border: 1px solid #ececec;
  border-left: 0;
  border-right: 0; }
  /* line 302, scss/style.scss */
  .product-view .short-description h2 {
    margin: 0;
    margin-bottom: 13px;
    text-transform: uppercase;
    color: #1c76c4;
    font: normal 14px/1.35 Roboto,Arial,Helvetica,sans-serif;
    font-weight: 700; }
/* line 313, scss/style.scss */
.product-view .add-to-box .add-to-cart label {
  font: normal 12px/1.35 Roboto, Arial, Helvetica, sans-serif;
  display: block; }
/* line 317, scss/style.scss */
.product-view .add-to-box .add-to-cart .qty {
  margin-top: 0px;
  height: 29px;
  border: 1px solid #ececec;
  float: left;
  width: 45px !important;
  clear: both;
  padding: 5px 8px !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
/* line 329, scss/style.scss */
.product-view .add-to-box .add-to-cart .qty-ctl {
  float: left;
  height: auto;
  line-height: normal;
  margin: 0 0 0 5px !important;
  padding: 0 !important;
  width: 17px; }
  /* line 336, scss/style.scss */
  .product-view .add-to-box .add-to-cart .qty-ctl button {
    background: url(img/icons.png) 0 0 no-repeat;
    width: 15px;
    height: 14.5px;
    text-indent: -999em;
    float: left;
    border: none;
    margin-bottom: 0px;
    cursor: pointer;
    border: 1px solid #ececec; }
    /* line 346, scss/style.scss */
    .product-view .add-to-box .add-to-cart .qty-ctl button.increase {
      background-position: -67px 2px;
      border-bottom: none; }
      /* line 349, scss/style.scss */
      .product-view .add-to-box .add-to-cart .qty-ctl button.increase:hover {
        background-position: -84px 2px;
        background-color: #ececec; }
    /* line 354, scss/style.scss */
    .product-view .add-to-box .add-to-cart .qty-ctl button.decrease {
      background-position: -67px -11px; }
      /* line 356, scss/style.scss */
      .product-view .add-to-box .add-to-cart .qty-ctl button.decrease:hover {
        background-position: -84px -11px;
        background-color: #ececec; }
/* line 364, scss/style.scss */
.product-view .add-to-box .add-to-cart button.button {
  clear: both;
  margin: 10px 0;
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease; }
/* line 372, scss/style.scss */
.product-view .add-to-box .add-to-cart button.btn-cart {
  float: left;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #fff;
  color: black;
  border: 2px solid #1c76c4;
  font: 300 16px/1.35 Roboto,Arial,Helvetica,sans-serif;
  height: 40px; }
  /* line 382, scss/style.scss */
  .product-view .add-to-box .add-to-cart button.btn-cart:hover {
    background: #1c76c4;
    color: #fff; }
  /* line 386, scss/style.scss */
  .product-view .add-to-box .add-to-cart button.btn-cart span span {
    padding: 7px 10px;
    text-transform: uppercase;
    box-shadow: none;
    min-width: 119px; }

/* line 397, scss/style.scss */
.product-name {
  color: #1b1b20;
  font: normal 13px/1.35 Roboto,Arial,Helvetica,sans-serif;
  font-weight: 600; }

/* line 402, scss/style.scss */
.email-friend {
  margin-bottom: 10px;
  background: url(img/icon_email.png) no-repeat left center;
  padding-left: 25px; }
  /* line 406, scss/style.scss */
  .email-friend a {
    color: black; }

/* line 410, scss/style.scss */
.in-stock span {
  color: #1c76c4;
  font-weight: 400; }

/* line 415, scss/style.scss */
.add-to-links li {
  padding: 9px 16px;
  display: inline-block;
  float: left;
  margin-top: 10px; }
  /* line 420, scss/style.scss */
  .add-to-links li:first-child {
    border-right: 1px solid #ececec; }
  /* line 423, scss/style.scss */
  .add-to-links li a {
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    list-style: none;
    display: inline-block;
    background-image: url(img/icons.png);
    width: 16px;
    height: 21px;
    text-indent: -999em; }
  /* line 435, scss/style.scss */
  .add-to-links li .separator {
    display: none; }

/* line 440, scss/style.scss */
.link-compare {
  background-position: -215px -810px; }
  /* line 442, scss/style.scss */
  .link-compare:hover {
    background-position: -215px -855px; }

/* line 446, scss/style.scss */
.link-wishlist {
  background-position: -267px -810px; }
  /* line 448, scss/style.scss */
  .link-wishlist:hover {
    background-position: -267px -855px; }

/* line 2, scss/_most_sellest.scss */
.most-sellest .panel-heading {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 16px; }
/* line 6, scss/_most_sellest.scss */
.most-sellest .panel-body img {
  width: 60px;
  height: 60px; }

/* line 1, scss/_single_product.scss */
.product-essential {
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1); }

/* line 7, scss/_single_product.scss */
.product-details-tab .tab-content {
  background: #fff;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: 1px solid #ddd;
  border-top: 0; }

/* line 1, scss/_page-content.scss */
.page-content {
  background: #fff;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px 0; }

/* line 1, scss/_list_blog.scss */
.list-blog {
  background: #fff;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px 0; }
