.page-content{
  @include background-white;
  padding: 10px;
  margin: 10px 0;
}
.support-online{ 
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
  padding: 5px;
  border: 1px solid #dedede;
}
.group-control-button{
  i {
    cursor: pointer;
  }
} 