$gray: #ececec;
$gray-lighter: #fafafa;
$gray-dark: #505050;
$blue: #1C76C4;
$black: #000000;
$arial: Arial;

body {
  color: $gray-dark;
  font-family: $arial, sans-serif;
}

a {
  color: $gray-dark;
  cursor: pointer;
  &:hover,
    &:focus {
    text-decoration: none;
    color: $blue;
  }
}
ul{
  padding: 0;
}
.wrapper_header {
  margin-top: 15px;
  .logo {
    margin-bottom: 10px;
    display: block;
    margin-left: 72px;
  }
}

.wrapper_menu_privary {
  background: $gray-lighter;
  border: 1px solid $gray;
  border-left: 0;
  border-right: 0;
  ul {
    margin: 0;
    li {
      position: relative;
      float: left;
      padding: 0;
      &:hover {
        background: #fff;
      }
      a {
        padding: 15px 20px;
        border-left: 1px solid #dedede;
        display: inline-block;
      }
    }
  }
}

.wrapper_content,
.wrapper_slider,
.wrapper_map {
  background: $gray;
  padding: 10px 0;
}

.wrapper_footer {
  background: #000;
  color: $gray;
  a {
    color: $gray;
    &:hover {
      color: $blue;
    }
  }
}

.wrapper_slider {
  .container {
    background: #fff;
    padding: 10px;
    border-radius: 3px;
  }
}
.product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: $black;
}

.price-box {
  color: #1C76C4;
  font-size: 16px;
}

/*.panel {
  border-radius: 2px;
  background: none;
  box-shadow: none;
  .panel-heading {
    border-radius: 0;
  }
}*/
.em_nav {
  li {
    position: relative;
    a {
      display: block;
      padding: 7px 0 8px;
    }
  }
  .menu-item-depth-0 > .menu-container {
    position: absolute;
    top: 0;
    left: -9999px;
    z-index: 9;
    width: 100%;
    padding: 13px 0;
    background: white;
    li{
      padding: 5px 10px;
    }
  }
  .menu-item-parent:hover > .menu-container,
    .menu-item-parent:hover > .menu-container {
    left: 108%;
  }
  .menu-item-link > ul,
  .em-catalog-navigation ul {
    padding: 13px 0;
    background: #fff;
    border:1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  }
}
.menu-item {
  &:hover {
    background: #fff;
  }
}
/*.sidebar {
  .panel {
    background: $gray-lighter;
  }
  .panel-body {
    padding: 0;
  }
  .panel-heading {
    background: $gray-lighter;
    color: $gray-dark;
    border-color: $gray;
  }
}*/

.panel-no-border {
  border: none;
}
.panel-no-bg {
  background-color: transparent;
  box-shadow: none;
  .panel-body{

    padding: 15px 0;
  }
}
.box-white{
  padding: 5px;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
  background: #fff;
}


.product-name {
  line-height: 20px;
}
/*
.product-detail {
  background: #fff;
  li.item {
    box-shadow: 0 1px 2px 0 $gray;
    -moz-box-shadow: 0 1px 2px 0 $gray;
    -webkit-box-shadow: 0 1px 2px 0 $gray;
  }
  .product-shop {
    padding: 5px;
  }
}*/